<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.9.2/js/dropin.min.js"></script>
  </head>
  <body>

    <main role="main" class="container">
      <div class="row">
          <div class="col-12">
              {{{body}}}
          </div>
      </div>
    </main><!-- /.container -->

  </body>
</html>
